<body>
  <div class="grid-container">
    <div id="box1">
      <img src="../../assets/super-1.png" alt="hero1" />
      <h6>Spider-man</h6>
      <h3>20</h3>
    </div>
    <div id="box2">
      <img src="../../assets/super-2.png" alt="hero2" />
      <h6>Captain-America</h6>
      <h3>65</h3>
    </div>
    <div id="box3">5-0</div>
    <div id="box4">
      <img src="../../assets/super-17.png" alt="villain" />
      <h6>Villain-1</h6>
      <h3>50</h3>
    </div>
    <div id="box5">
      <img src="../../assets/super-18.png" alt="villain" />
      <h6>Villain-2</h6>
      <h3>11</h3>
    </div>
  </div>
</body>
